*.aux
*.run.xml
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.bcf
*.nav
*.snm
*.maf
*.asv
*.mtc
*.thm
*.mtc1
*.out
*.synctex.gz
.~lock*
*.ps
/.*.swp
*~
*.swp
.*.swp
.*.sw?
*.tdo
*.smg
*.smm
*.sym
*.bib$
*.bib.bak
kappa.pdf
auto
*.fls
*.fdb_latexmk
resume.pdf
*.changes.*
*.glsdefs
